@model IEnumerable<ModelsLayer.StoreProduct>

@{
    ViewData["Title"] = "StoreProductList";
}

<h1>StoreProductList</h1>

<p>
    <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">Home</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by UserId: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ProductName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.StoreName)
            </th>
            <th>
                @Html.ActionLink("Location Name", "StoreProductList", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Location.LocationState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Location.ZipCode)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Location.LocationName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Store.Location.City)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Location.LocationState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Location.ZipCode)
            </td>

        </tr>
        }
    </tbody>
</table>
