@model IEnumerable<ModelsLayer.Product>

@{
    ViewData["Title"] = "Store Product List";
}

<h1>Store Product List</h1>

<p>
    <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">Home</a>
</p> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td> *@

            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Add to Cart</a> |
            </td>
        </tr>
}
    </tbody>
</table>
