@model IEnumerable<ModelsLayer.Order>

@{
    ViewData["Title"] = "OrderListFilter";
}

<h1>OrderBy Date by Default</h1>

<p>
    <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">Home</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by UserId: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("user id ", "OrderListFilter", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Location)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
            </td>    
        </tr>
        }
    </tbody>
</table>
